body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


nav {
    background-color: rgb(43, 45, 48);
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    height: 50px;
    z-index: 1;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;

}
nav a:hover{
    color: #007acc;

}

.center-content {
    text-align: center;
    margin-top: 65px;
}

h1 {
    color: #000000;
}

h2 {
    margin-top: 20px;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: inline-block;
    text-align: left;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px 15px;
    border-radius: 8px;
}


.button-link {
    display: block;
    margin: 40px auto 20px;
    padding: 12px 20px;
    width: fit-content;
    text-decoration: none;
    background: #007acc;
    color: white;
    border-radius: 6px;
    transition: background 0.2s;
}

.button-link:hover {
    background: #005a99;
}
