<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link th:href="@{/style.css}" rel="stylesheet">

</head>
<body>
<h1>Tourist Attractions</h1>

<table>
    <tr th:if="${listofattractions.isEmpty()}">
        <td colspan="3">There are no attractions yet</td>
    </tr>
    <tr th:if="${!listofattractions.isEmpty()}">
        <th>Name</th> <th>Description</th> <th>Tags</th>
    </tr>
    <tr th:each="turistAttraction : ${listofattractions}">
        <td th:text="${turistAttraction.name}"></td>
        <td th:text="${turistAttraction.description}"></td>
        <td><a th:href="@{'/attractions/' + ${turistAttraction.name} + '/tags'}">Tags</a></td>
        <td><a th:href="@{'/attractions/' + ${turistAttraction.name} + '/edit'}">Edit </a> </td>
        <td><a th:href="@{'/attractions/' + ${turistAttraction.name} + '/delete'}">Delete </a> </td>
    </tr>
</table>

<a th:href="@{/attractions/add}"><button>Add attraction</button></a>

</body>
</html>