<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table>
    <tr th:if="${listofattractions.isEmpty()}">There are no attractions yet</tr>
    <tr th:if="${!listofattractions.isEmpty()}">
        <th>Name</th> <th>Description</th> <th>Tags</th>
    </tr>
    <tr th:each="turistAttraction: ${listofattractions}">
        <td th:text="${turistAttraction.name}"></td>
        <td th:text="${turistAttraction.description}"></td>
        <td th:text="${turistAttraction.tags}"><button th:href="@{${name}/tags}">Tags</button></td>
    </tr>
</table>
<button>Add attraction</button>

</body>
</html>