<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Tourist Attraction</title>
    <meta charset="UTF-8">
    <link th:href="@{/editStyle.css}" rel="stylesheet">

</head>
<body>
<h1 th:text="'Edit: ' + ${attraction.name}"></h1>

<form th:action="@{'/attractions/' + ${attraction.name} + '/update'}"
      th:object="${attraction}"
      method="post">

    <label for="description">Description:</label><br>
    <textarea id="description" th:field="*{description}"></textarea><br><br>

    <label for="city">By</label>
    <select id="city" th:field="*{city}">
        <option value="city">Vælg By</option>
        <option th:each="type: ${ListOfCities}"
                th:value="${type}"
                th:text="${type}">
        </option>
    </select>
    <br><br>
    <label for="tags">Tags</label>
    <fieldset id="tags">
        <div th:each="opt : ${ListOfTags}">
            <label>
                <input type="checkbox" th:field="*{tags}" th:value="${opt}">
                <span th:text="${opt}"></span>
            </label>
        </div>
    </fieldset>

    <button type="submit">Save Changes</button>
    <a th:href="@{/attractions}">Cancel</a>
</form>

</body>
</html>
